@font-face {
    font-family: "solid";
    src: url(./font/Macula\ Solid.otf);
}


@font-face {
    font-family: "line";
    src: url(./font/Macula\ Line.otf);
}

@font-face {
    font-family: "shade";
    src: url(./font/Macula\ Shaded.otf);
}

html{
    overflow-x: hidden;
}

body{
    margin:0;
    height: 100vh;
    background-color: #FFDB17;
}

section{
    height: 100%;
    text-align: center;
    scroll-snap-stop: always;
}


img{
    width: 90%;
    height: 100%;
    right: 0;

}

h2 {
    font-size: 5em;
    position: absolute;
}

h1{
    text-align: center;
}

.first{
    background-color: #7AFF57;
    z-index: 0;
}

#yeatText{
    color:black;
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: "solid", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 5.25rem;
}

.second{
    background-color: #DBADFF;
    z-index: 0;
}

#sahText{
    color: #000000;
    z-index:1;
    font-family: "shade", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 5rem;

}

.third{
    background-color: #FF0F20;
    z-index: 0;
}

#cartiText{
    color:aqua;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: "line", sans-serif;
    font-style: normal;
    font-weight: 500;
}


.fourth{
    background-color: #0095FC;
    z-index: 0;
}

#babyText{
    color: rgb(255, 255, 255);
    right: 80%;
    transform: translate(90%, 20%);
    z-index: 1;
    font-family: "shade", sans-serif;
    font-style: normal;
    font-weight: 500;
}

.fifth{
    background-color: white;
    z-index: 0;
}

#luckiText{
    color: rgb(255, 21, 4);
    top: 30%;
    right: 80%;
    transform: translate(90%, -30%);
    z-index: 1;
    font-family: "solid", sans-serif;
    font-style: normal;
    font-weight: 500;
}

.six{
    background-color: #FFDB17;
    z-index: 0;
}

#sosaText{
    color: blueviolet;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: "line", sans-serif;
    font-style: normal;
    font-weight: 500;
}
.trail {
    position: fixed;
    pointer-events: none;
    background-image: url('imgs/heartagram.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-color: transparent;
  }


  ::-webkit-scrollbar {
    width: 20px;
    background-color: #f50000;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #000000;
  }
